<div class="my-nav">
  <nav>
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <% if(nav=='profile') { %>
          <a id="active" class="nav-link" href="#">Profile</a>
        <% } else { %>
          <a class="nav-link" href="/profile">Profile</a>
        <% } %>
      </li>
      <li class="nav-item">
        <% if(nav=='feeds') { %>
          <a id="active" class="nav-link" href="#">Feeds</a>
        <% } else { %>
          <a class="nav-link" href="/feeds">Feeds</a>
        <% } %>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Send</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/logout">Logout</a>
      </li>
    </ul>
  </nav>
</div>
