<footer class="page-footer orange">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h5 class="white-text">Bachelor Thesis</h5>
        <p class="grey-text text-lighten-4">
          This web application is part of a scientific work for the Stuttgart Media University.
        </p>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">University</h5>
        <ul>
          <li><a class="white-text" href="https://www.hdm-stuttgart.de/english">Stuttgart Media University</a></li>
          <!-- <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li> -->
        </ul>
      </div>
      <div class="col l3 s12">
        <h5 class="white-text">Repository</h5>
        <ul>
          <li><a class="white-text" href="https://github.com/">Github Project</a></li>
          <!-- <li><a class="white-text" href="#!">Link 2</a></li>
          <li><a class="white-text" href="#!">Link 3</a></li>
          <li><a class="white-text" href="#!">Link 4</a></li> -->
        </ul>
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
      Made with ❤ by <a class="orange-text text-lighten-3" href="mailto:ch109@hdm-stuttgart.de">Christian Heitmann</a>
    </div>
  </div>
</footer>
<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="js/bin/materialize.js"></script>
<script src="js/init.js"></script>
