<nav class="light-blue" role="navigation">
  <div class="nav-wrapper container">
    <span id="logo-container" class="brand-logo">
      <span class="fa fa-handshake-o" aria-hidden="true"></span>&ensp;
      OMT
    </span>
    <!-- Desktop View -->
      <ul class="right hide-on-med-and-down">
      <!-- Dashboard -->
      <% if(nav=='dash') { %>
        <li><a class="active">Dashboard</a></li>
      <% } else { %>
        <li><a href="/dashboard">Dashboard</a></li>
      <% } %>
      <!-- Broadcast -->
      <% if(nav=='broadcast') { %>
        <li><a class="active">Broadcast</a></li>
      <% } else { %>
        <li><a href="/broadcast">Broadcast</a></li>
      <% } %>
      <!-- Profile -->
      <% if(nav=='profile') { %>
        <li><a class="active">Profile</a></li>
      <% } else { %>
        <li><a href="/profile">Profile</a></li>
      <% } %>
      <li><a href="/logout">Logout</a></li>
    </ul>
    <!-- Mobile View -->
    <ul id="nav-mobile" class="side-nav">
      <!-- Dashboard -->
      <% if(nav=='dash') { %>
        <li><a class="active">Dashboard</a></li>
      <% } else { %>
        <li><a href="/dashboard">Dashboard</a></li>
      <% } %>
      <!-- Broadcast -->
      <% if(nav=='broadcast') { %>
        <li><a class="active">Broadcast</a></li>
      <% } else { %>
        <li><a href="/broadcast">Broadcast</a></li>
      <% } %>
      <!-- Profile -->
      <% if(nav=='profile') { %>
        <li><a class="active">Profile</a></li>
      <% } else { %>
        <li><a href="/profile">Profile</a></li>
      <% } %>
      <li><a href="/logout">Logout</a></li>
    </ul>
    <a href="" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
</nav>
