<nav class="light-blue" role="navigation">
  <div class="nav-wrapper container">
    <span id="logo-container" class="brand-logo">
      <span class="fa fa-handshake-o" aria-hidden="true"></span>&ensp;
      OMT
    </span>
  </div>
</nav>
